.student_mainContainer{
    --background : #08080B;
    --text :  #D4D4D7;
    --secondary : #8540ca;
    --accent : #18191A;
    --accent2 : #4489DC;
    /* --chart : #e956a25, 0, 0, 0.7); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Nunito Sans', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;

    @media(max-width: 512px){
        height: 100vh;
        overflow-y: auto;
    }
}

::-webkit-scrollbar {
    width: 5px;
    @media(max-width: 768px){
        width: 2px;
        height: 2px;
    }
}

::-webkit-scrollbar-track {
    background: #08080B; /* Use the background color of your page */
}

::-webkit-scrollbar-thumb {
    background: #A55EED; /* Use the color you provided */
    border-radius: 2rem;
}

@media (max-width: 512px) {
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px; /* Adjust height for horizontal scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 1rem;
    }
}


.student_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    color: var(--text);
    background-color: var(--accent);
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    @media(max-width: 768px){
        height: 8vh;
    }
}

.headerButton{
    background-color: #242526 ;
    color: var(--text);
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    padding: 0 1vw 0 1vw;
    margin: 0 1vw 0 7vw;
    width : 9vw;
    height: 2.5vw;
    border-radius: 0.5rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: #242526 ;
    }

    @media(max-width: 768px){
        height: 5vh;
        width: 15vw;
        font-size: 1em;
        margin: 0 1vw 0 1vw;
        display: none;
    }
}
.student_subheading{
    margin: 1vh 0 1vh 0vw;
    padding: 0 0 0 0;
    color: var(--secondary);
    font-size: 1.5rem;

    @media(max-width: 768px){
        font-size: 1rem;
    }
}

.dataTableContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 84vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /* background-color: whitesmoke; */
    overflow: hidden;

    @media(max-width: 512px){
        height: 90vh;
    }
}

.saddButtonContainer{
    width: 95vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1vw 0 0;
    margin: 0 0 0 0;

    @media(max-width: 768px){
        width: 100vw;
        height: 8vh;
        bottom: 0;
        position: fixed;
        z-index: 1;

    }

}
.sAddButton{
    width : 4vw;
    height: 8vh;
    background-color: var(--accent2);
    color: var(--text);
    border: none;
    border-radius: 5rem;
    font-size: 1em;
    margin: 0 1vw 0 0;
    padding: 0 0 0 0;


    @media(max-width: 768px){
        width: 17vw;
        height: 8vh;
        font-size: 1em;
        margin: 0 0 0 0;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}

.logout_button{
    background-color: #18191A;
    color: var(--text);
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    padding: 0 1vw 0 1vw;
    width : 9vw;
    height: 2.5vw;
    border-radius: 0.5rem;
    text-decoration: none;
    align-items: center;
    justify-content: space-center;

    &:hover{
        background-color: #242526 ;
    }
}