.mainContainer{
    --background : #08080B;
    --text :  #D4D4D7;
    --secondary : #8540ca;
    --accent : #18191A;
    --accent2 : #4489DC;

    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
    overflow-y: auto;
}