.admin_mainContainer{
    --background : #08080B;
    --text :  #D4D4D7;
    --secondary : #8540ca;
    --accent : #18191A;
    --accent2 : #4489DC;
    /* --chart : #e956a25, 0, 0, 0.7); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    color: var(--text);
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #08080B; /* Use the background color of your page */
}

::-webkit-scrollbar-thumb {
    background: #A55EED; /* Use the color you provided */
    border-radius: 2rem;
}

.dasboard_mainContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 92vh;
    background-color: var(--background);
    color: var(--text);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.dashboard_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    color: var(--text);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.dashboard_subheading{
    font-size: 1.62em;
    margin: 1vh 0 1vh 1vw;
    padding: 0 0 0 0;
}

.dashboard_search{
    display: flex;
    background-color: #3F4448;
    border: none;
    color: var(--text);
    width: 20vw;
    height: 4vh;
    padding: 0 0 0 1vw;
    margin: 0 1vw 0 1vw;
    border-radius: 0.8rem;
    font-size: 1em;
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: var(--text);
    }
}

.dashboard_batch_container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
    justify-content: flex-start;
    background-color: var(--background);
    color: var(--text); 
    flex-wrap: wrap;
    padding: 0 0 0 0;
    margin: 0 0 0 5vw;
    overflow-y: auto;
}
.pattern_container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 1rem;
      }

.Batch__details_card{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    background-color: var(--accent);
    color: var(--text);
    margin: 1vh 1vw 1vh 1vw;
    border-radius: 1rem;
    padding: 1vh 1vw 1vh 1vw;
    /* box-shadow: 0 0 0.5rem 0.1rem var(--accent2); */
    transition: 0.3s;
    &:hover{
        transform: scale(1.05);
    }
}
.batch_name_card{
    width : 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Batch_details_name{
    font-size: 1.3em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.footer_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    width: 100vw;
    height: 8vh;
    color: var(--text);
    padding: 0 0 0 0;
    z-index: 1;
}
.add_button{
    background-color: var(--accent2);
    color: var(--text);
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    padding: 0 0 0 0;
    margin: 0 1vw 0 10vw;
    width : 3.5vw;
    height: 3.5vw;
    border-radius: 5rem;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3rem;
    &:hover{
        transition: all 0.3s ease-out;
    }

}
.analyticsPageHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 8vh;
    color: var(--text);
    padding: 0 0 0 0;
    /* margin: 0 2vw 0 3vw; */
    /* background-color: var(--accent); */
}

.analyticsSubheading{
    font-size: 1.5em;
    margin: 1vw 0vw 0.8vw 2vw;
    padding: 0 0 0 0;
}

.chart_container{
    width : 100vw;
    height : 35vh;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.details_container{
    width : 100vw;
    height :90%;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
}


.individual_details{
    width : 90%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    border-bottom: 0.5px solid var(--accent);
}

.individual_details_h3{
    font-size: 1.2rem;  
    color: var(--text);
    margin: 2vw 2vw 2vw 2vw;
}

.individualdetails_LeftContainer{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.download_button{
    width: 9rem;
    height : 3rem;
    border: none;
    display: flex;
    background-color: var(--secondary);
    color: var(--text);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    margin: 2vw -36vw 0 0;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;

    &:active{
        color: #ff0000;
        transition: all 0.3s ease-out;
    }
}
.pieChart_card {
    display: flex;
    justify-content: center;
    width: 50rem;
  }
  .piechart {
    width: 50rem;
    margin: 0 0 0 10vw;
  }

.analytics_chartHeading{
    font-size: 1.5em;
    margin: 0 0vw 0.5vw 5.8vw;
    padding: 0 0 0 0;
}
.mainInput_container{
    display: flex;
    align-items: center;
    width: 90vw;
    height: 80vh;
    background-color: var(--accent);
    color: var(--text);
    overflow-y: auto;
    flex-direction: column;
    overflow-x: hidden;
}

.inputContainer{
    display: flex;
    width : 100%;
    height: 7vh;
    align-items: center;
    margin-top : 1rem;
    /* border-bottom: 1px solid #243e5e; */
}

.addBatch_heading{
        font-size: 1.5em;
        margin: 1vw 5vw 0.5vw 5vw;
        padding: 0 0 0 0;
}

.InputDetails{
    font-size: 1.4rem;
    color: var(--text);
    margin: 0rem 0rem 0rem 10rem;
    font-weight: bold;
}
.required_symbol {
    color: red;
    font-size: 1.3rem;
}

.inputQuestionContainer{
    width: 40%;
    height: 2rem;
    display: flex;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    align-items: center;
}

.batchInput{
    width: 35%;
    padding:8px;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: #08080B;
    color: var(--text);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin: 0 0 0 4rem;
    font-weight: bold;
}


.addBatch_buttonContainer{
    width : 60vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin : 4vh 0vh 4vh 26vw;
    margin-bottom: 4rem;
}

.addBatch_button{
    background-color: #8540ca;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2vh 2.5vh;
    cursor: pointer;
    font-size: large;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.addBatch_button:hover {
    background-color: #7411d6;
    transform: translateY(-2px);
}


.cancelBatch_button{
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2vh 2.5vh;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}   


.cancelBatch_button:hover {
    background-color: #cc0000;
    transform: translateY(-2px);
}

.cancelBatch_button:active {
    background-color: #b30000;
    transform: translateY(0);
}

/* Hide the default controls */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Custom controls */
input[type="number"] {
    position: relative;
}

input[type="number"]:before,
input[type="number"]:after {
    content: '';
    position: absolute;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
}

/* Up arrow */
input[type="number"]:before {
    top: 10px;
    border-width: 0 5px 5px;
    border-color: transparent transparent #333;
}

/* Down arrow */
input[type="number"]:after {
    top: 20px;
    border-width: 5px 5px 0;
    border-color: #333 transparent transparent;
}