
body{
   
    background-color: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --text: #D4D4D7;
    --background : #08080B;
    --secondary : #8540ca;
    --accent : #18191A;
    --accent2 : #4489DC;
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100vw;
    height : 100vh;
}
.logo_image{
    width: 10vw;
    height: 16vh;
    margin-top: 1rem;


    @media screen and (min-width : 1440px){
        width: 20vw;
        margin-top: 0rem;
    }

    @media screen and (max-width : 1200px){
        width: 20vw;
        height: 17vh;
        margin-top: 0rem;
    }
    
    @media screen and (max-width : 768px){
        width: 20vw;
        height: 17vh;
        margin-top: 0rem;
    }

    @media screen and (max-width : 512px){
        width: 32vw;
        height: 17vh;
        margin-top: 0rem;
    }

    @media screen and (max-width : 375px){
        width: 40vw;
        height: 17vh;
        margin-top: 0rem;
    }
}
.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height : 60%;
    padding: 20px;
    background-color: #18191A;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(80, 79, 79, 0.1);

    @media screen and (min-width : 1440px){
        width: 30vw;
        height: 65%;
    }

    @media screen and (max-width : 1200px){
        width: 40vw;
        height: 65%;
    }

    @media screen and (max-width : 768px){
        width: 55vw;
    }
    @media screen and (max-width : 512px){
        width: 80vw;
    }

    @media screen and (max-width : 375px){
        width: 90vw;
        height: 70%;
    }
}

.loginHeading{
    color: var(--text);

    @media screen and (max-width : 512px){
        font-size: 1.8rem;
    }
}
.login_subheading{
    margin-top: -0.8rem;
    color: var(--text);

    @media screen and (max-width : 512px){
        font-size: 1.8rem;
    }
}
.form_fields{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;

    @media screen and (max-width : 1200px){
        margin-top: 0.5rem;
    }

    @media screen and (max-width : 768px){
        width: 40vw;
        margin-top: 0.5rem;
    }

    @media screen and (max-width : 512px){
        width: 80vw;
    }
}

.form_fieldsinput{
    width:16vw;
    padding: 13.5px;
    border: none;
    margin-top: 0.9rem;
    border-radius: 5px;
    background-color: var(--background);
    color: var(--text);
    outline: none;
    transition: 0.3s;
    font-size: 1rem;

    &:focus{
        border: 1px solid var(--accent);
    }

    @media screen and (min-width : 1440px){
        width: 20vw;
    }

    @media screen and (max-width : 1200px){
        width: 30vw;
    }

    @media screen and (max-width : 768px){
        width: 40vw;
    }

    @media screen and (max-width : 512px){
        width: 70vw;
    }
}

.loginButton{
    width:17vw;
    padding: 15px;
    border: none;
    margin-top: 1.2rem;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    font-size: 1.2rem;
    background-color: var(--secondary);
    color:var(--text);
    cursor: pointer;
    
    &:hover{
        background-color: var(--secondary);
    }

    @media screen and (min-width : 1440px){
        width: 20vw;
    }

    @media screen and (max-width : 1200px){
        width: 30vw;
    }

    @media screen and (max-width : 768px){
        width: 40vw;
        margin-top: 1rem;
    }

    @media screen and (max-width : 512px){
        width: 70vw;
    }
}

.forgotPassword{
        margin-top: 2rem;
        color: var(--text);
        text-decoration: none;
        font-size: 1rem;
        transition: 0.3s;
        &:hover{
            color: var(--accent2);
        }

        @media screen and (max-width : 512px){
            margin-top: 1rem;
        }
}

.togglePassword {
    position: absolute;
    right: 0.1rem;
    top: 1.2rem;
    background: none;
    border: none;
    color: #D4D4D7;
    background-color: var(--secondary);
    cursor: pointer;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0.6rem;
    border-radius: 5px;
}

.togglePassword:focus {
    outline: none;
}

.password_container{
    position: relative;
    width: 16vw;
    margin-top: 0.9rem;

    @media screen and (min-width : 1440px){
        width: 20vw;
    }

    @media screen and (max-width : 1200px){
        width: 30vw;
    }

    @media screen and (max-width : 768px){
        width: 40vw;
    }

    @media screen and (max-width : 512px){
        width: 70vw;
    }
}
